#   ____  ____   _____
#  / __ \|  _ \ / ____|
# | |  | | |_) | |     ___  _ __ ___
# | |  | |  _ <| |    / _ \| '__/ _ \
# | |__| | |_) | |___| (_) | | |  __/
#  \___\_\____/ \_____\___/|_|  \___|

## FiveM Documentation
## https://aka.cfx.re/server-commands

## PradiptaCore Documentation
## https://docs.pradiptacore.org

## You CAN edit the following:
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"
sv_maxclients 8
set steam_webApiKey "none"
sets tags "freeroam, sandbox, private, indonesia, PRADIPTA, NIRO1N"

## You MAY edit the following:
exec credentials.cfg
sv_hostname "PRADIPTA SERVER"
sets sv_projectName "PRADIPTA SERVER"
sets sv_projectDesc "Server santai buat rusuh & nongkrong bareng, awas kena mental. Developer: NIRO1N"
sets locale "id-ID"
load_server_icon myLogo.png
sv_enforceGameBuild 3095 #DLC The Chop Shop
set resources_useSystemChat true

# Voice config
setr voice_useNativeAudio true
setr voice_defaultCycle "GRAVE"
setr voice_defaultVolume 0.3
setr voice_enableRadioAnim 1
setr voice_syncData 1
setr voice_useSendingRangeOnly false

# PradiptaCore locale config
setr pradipta_locale "en"

# PradiptaCore UseTarget
setr UseTarget false

# These resources will start by default.
ensure mapmanager
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure basic-gamemode
ensure hardcap
ensure baseevents

# PradiptaCore & Extra stuff
ensure oxmysql         
ensure ox_lib          
ensure [standalone]    
ensure pradipta-core
ensure [pradipta]
ensure [voice]
ensure [defaultmaps]

# Custom Resources
ensure [custom]
ensure [peds]
ensure pradipta_loading
ensure pradipta_world
ensure xeno-adminmenu

## Permissions ##
add_ace group.admin command allow # allow all commands
add_principal identifier.fivem:17755232 group.admin #syahfrino
add_principal identifier.discord:710464470450831382 group.admin #syahfrino

# Resources
add_ace resource.pradipta-core command allow # Allow pradipta-core to execute commands

# Gods
add_ace pradiptacore.god command allow # Allow all commands

# Inheritance
add_principal pradiptacore.god group.admin # Allow gods access to the main admin group used to get all default permissions
add_principal pradiptacore.god pradiptacore.admin # Allow gods access to admin commands
add_principal pradiptacore.admin pradiptacore.mod # Allow admins access to mod commands

## vMenu
# Load vMenu permissions before starting the resource.
exec @vMenu/config/permissions.cfg
ensure vMenu
